/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
  text-align: center;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

.page-header {
	text-align: center;
	color: white;
}

.lead {
	text-align: center;
	color: white;
}

.subtext {
	color:white;
	text-align: center;
}

.subtext a {
	color:white;
	text-decoration: underline;
}

/*Home page background image*/
.homepage {
	background-image: url(../img/homeBG.jpg);
	background-size: 100%;
}
	
